################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Avanade.SubTCSE.Projeto.Api/.vs/Avanade.SubTCSE.Projeto.Api
/Avanade.SubTCSE.Projeto.Api/Avanade.SubTCSE.Projeto.Api/obj
/Avanade.SubTCSE.Projeto.Api/Avanade.SubTCSE.Projeto.Application/obj
/Avanade.SubTCSE.Projeto.Api/Avanade.SubTCSE.Projeto.Domain/obj
