################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Avanade.SubTCSE.Projeto.Api/.vs/Avanade.SubTCSE.Projeto.Api
